
body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing:0.02em;}

h1 , h2 , h3 , h4 , h5 , h6 , p {margin: 0;}

.link{text-decoration: none;
    list-style: none;}

:root{
    --color-1: #4D5AE5
}

ul, ol {list-style: none;
    padding-left: 0;
    margin: 0;}

img{display: block;
    max-width:100%;
    height: auto;}

header{border-bottom: 1px solid #E7E9FC;}

.heder-div{
    display: flex;
    align-items: center;}

.heder-logo{color:#000000;}

.studio1 ,
.portfolio2{
    color: #4D5AE5;
}

.heder-buttons{display: flex;
    list-style: none;
    margin-top: 32px;
    margin-left: 50px;
    margin-bottom: 30px;}

.heder-nav-link{font-weight: 500;
    font-size: 16px;
    line-height: calk(24 / 16);
    letter-spacing: 0.02em;
    color: #212121;
    margin-right:50px;
    }

.heder-nav-link:hover ,
.heder-nav-link:focus{
    color:var(--color-1);}

.logo-link{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: calk(24 / 18);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--color-1);
    font-family:'Raleway';}

.heder-contacts-link{margin-left: auto;
    margin-top: 28px;
    margin-bottom: 28px;}

.heder-contackts{
    margin-left: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;}

.heder-contackts:hover ,
.heder-contackts:focus{font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--color-1);}


main{background: #FFFFFF;}

.buy{padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                       rgba(46, 47, 66, 0.7)
                                      ),
                                         url(./img_css/background-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    height: 600px;
    text-align: center;
    margin: 0 auto;}

.buy-text{margin-bottom: 48px;
    font-weight: 700;
    font-size: 44px;
    line-height:calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;}

.buy-btn{
    padding: 16px 32px;
    min-width: 169px;
    background: var(--color-1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-align: center;}

.svg{background: #F4F4FD;
    border-radius: 4px;
    text-align: center;
    padding: 24px 0px;}

.portfolio-main{
    padding-top: 130px;
    padding-bottom: 50px}

.portfolio-img{display: flex;
    flex-direction: row;}

.portfolio-li{background: #FFFFFF;
    border: 1px solid #EEEEEE;
    margin-right: 24px;
    margin-bottom: 48px;
    border: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    }

.portfolio-h3{font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: #212121;
    padding: 20px 0px 0px 24px;}

.portfolio-p{font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: #757575;
    padding: 0px 0px 20px 24px;}

.about-txt-1{margin-right: 24px;}

.about-text{
    display:flex;
}

.warning{padding-top: 94px;}

.about-h3{margin: 8px 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;}

.about-p{width: 264px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #757575;}

.main-btn{
    display: flex;
    flex-direction: row;
    margin-right: 50px; 
    list-style: none;
    margin-left: 320px;}

.nav-buttons{padding: 12px 24px 12px 24px;
    margin-right: 8px;
    margin-bottom: 72px;
    background: #E7E9FC;
    border-radius: 4px;
    border: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height:calc(26 / 16);
    letter-spacing: 0.03em;
    color: var(--color-1);}

.nav-buttons:hover ,
.nav-buttons:focus{background: var(--color-1);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;}

.about-worck{padding:94px 0px 94px 0px; }

.whu-worck{display: flex;
    flex-direction: row;
    gap: 24px;}

.whu-worck-txt{text-align: center;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    color: #212121;}

.team-txt{margin-bottom: 72px;
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: calc(42 / 36);
        letter-spacing: 0.03em;
        color: #212121;}

.about-team{display: flex;
    flex-direction: row;}

.my-team{background: #F5F4FA;
padding:120px 0;}

.team{margin-right: 24px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
   }

.soc-icon{margin: 12px;}

.container{width: 1158px;
    padding: 0 15px;
    margin: 0 auto;}

.team-logo-link{display: flex;
    gap: 24px;
    margin-left:16px;
    margin-top: 8px;
    padding-bottom: 32px;}

.team-logo{
    background-color: var(--color-1);
        border-radius: 50%;
        width: 40px;
        height: 40px;}

.team-h3{margin: 32px 0px 8px 0px ;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;}

.team-p{font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.02em;
    color: #757575;}

.customers{
    padding-bottom: 120px;}

.Customers-text{margin-top: 120px;
    margin-bottom: 65px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;}

.Customers-logo-link{display: flex;
    flex-direction: row;}

.Customers-logo{border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-right: 24px;
    padding: 16px 32px;
    margin-bottom: 110px;}

footer{background: #2F303A;
    color:#FFFFFF ;
    padding:60px 0px 60px 156px ;}

.footer-logo{
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    color: #FFFFFF;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo-link{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-1);}

.footer_title{width: 264px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #E7E9FC;}

.footer-logs{
    margin-left: -78px;
    display: flex;}

.footer-logos{margin-left: 120px;}

.footer-logs-link{display: flex;
    gap: 16px;}

.logos-footer {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.svg-logo-footer{margin: 12px}

.footer-logo1{
    margin: 12px
}